// http://www.color-hex.com/color-palette/1147

$primary: #76b852;
$primary-hover: #96ead7;

$primary-alt: #00c6ff;

$warning: #f7e7b4;
$danger: #f00;
$white: #fff;

$formBorderInactive: #ddd;

$cell-header: #fbf5e1;

$darkGray: #3e3e3e;
$light-gray: #ddd;

$positiveNumber: #90ee90;
$negativeNumber: #ff4c4c;
