// http://www.color-hex.com/color-palette/1147

$primary: #68c4af;
$primary-hover: #96ead7;
$warning: #f7e7b4;
$danger: #c4687d;
$white: #fff;

$cell-header: #fbf5e1;

$darkGray: #3E3E3E;

$headerHeight: 3rem;

$positiveNumber: #90ee90;
$negativeNumber: #ff4c4c;
