// http://www.color-hex.com/color-palette/1147

$primary: #76b852;
$primary-hover: #96ead7;
$warning: #f7e7b4;
$danger: #f00;
$white: #fff;

$cell-header: #fbf5e1;

$darkGray: #3e3e3e;

$headerHeight: 3rem;

$positiveNumber: #90ee90;
$negativeNumber: #ff4c4c;
