// Put all z indices here, namespaced with 'z'

// Budget screen
$zMonthCellInput: 2;
$zMonthCellInputFocus: 3;

$zMonthCellNote: 4;


// Account screen
$zEditingButtons: 10;

// Drop.js
$zDrop: 10001; // above modals

// app-view__title
$zTitle: 2;
