.button {
  border: 0;
}

.button--primary {
  background-color: $primary;
  color: $white;

  transition: background-color 100ms linear;

  &:hover {
    background-color: lighten($primary, 10%);
  }
}
