.drop__content {
  font-size: 0.95rem;
  padding: 0.5em 1em;
}

.drop__content--small {
  font-size: 0.8rem;
}

.drop-element.drop--wide {
  min-width: 200px;
}

.drop-element {
  z-index: $zDrop;
}

.drop-element.drop-theme-arrows-bounce .drop-content {
  padding: 0.5em 0;
}

.drop-element.drop-theme-arrows-bounce .drop-content {
  box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.2);

  -webkit-filter: none;
  -moz-filter: none;
}

.drop-element.drop-theme-arrows-bounce.drop-element-attached-top.drop-element-attached-center .drop-content:before {
  pointer-events: none;
}
