.dropdown {
  margin: 0;
  padding: 0;
}

.dropdown__item {
  cursor: pointer;

  line-height: 2rem;
  padding: 0 2rem 0 1rem;
  font-size: 0.8em;
  font-weight: 300;

  list-style: none;

  &:hover {
    background-color: $primary;
    color: $white;
  }
}
