.form__textarea {
  line-height: 1;
  padding: 5px;
  font-size: 1.1em;

  border: 1px solid $formBorderInactive;

  &:focus {
    border-color: $primary;

    outline: 0;
  }
}

.form__textarea--monospace {
  font-family: monospace;
}
