$messageHeight: 1.2em;
$messageHeightAnimationTime: 250ms;

.message {
    animation: heightEnter $messageHeightAnimationTime ease;
    animation-fill-mode: forwards;

    overflow: hidden;
    line-height: $messageHeight;
    font-size: 0.9rem;
    color: $danger;
}

.message--main {
    text-align: center;
}

.message.ng-leave {
    animation: heightLeave $messageHeightAnimationTime ease;
    animation-fill-mode: forwards;
}

@keyframes heightEnter {
    0% {
        height: 0;
    }

    100% {
        height: $messageHeight;
    }
}

@keyframes heightLeave {
    100% {
        height: 0;
    }

    0% {
        height: $messageHeight;
    }
}

.message.ng-enter-active {
    height: 100px;
}
