{
  "extends": "eslint:recommended",

  "plugins": ["jest"],

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },

  "env": {
    "browser": true,
    "node": true
  },

  "globals": {
    "angular": true,
    "inject": true,
    "VERSION": true
  },

  "rules": {}
}
