{
  "extends": "eslint:recommended",

  "overrides": [
    {
      "files": ["**/*.spec.js"],
      "plugins": ["jest"],
      "extends": ["plugin:jest/recommended"],
      "rules": { "jest/prefer-expect-assertions": "off" }
    }
  ],

  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },

  "env": {
    "browser": true,
    "node": true
  },

  "globals": {
    "angular": true,
    "inject": true,
    "VERSION": true
  },

  "rules": {
    "no-prototype-builtins": 0
  }
}
