<div class="drop__content drop__content--wide">
  <form name="editAccountNote" ng-submit="editAccountCtrl.submit()">
    <label>
      Account name<br>
      <input type="text"
             class="form__textarea form__textarea--block"
             ng-model="editAccountCtrl.name"
             required>
    </label>
    <br>

    <label>
      Note<br>
      <textarea class="form__textarea form__textarea--monospace form__textarea--block"
                ng-model="editAccountCtrl.note"
                rows="3"></textarea>
    </label>
    <br>
    <button class="button button--primary"
            ng-disabled="editAccountForm.$invalid"><i class="fa fa-check"></i> Save</button>

    <button class="tooltip__delete button button--link-danger tooltip__delete--show"
            type="button"
            ng-if="!editAccountCtrl.editAccount.closed"
            ng-click="editAccountCtrl.close()">
      <i class="fa fa-minus-circle"></i>Close account
    </button>

    <button class="tooltip__delete button button--link-primary tooltip__delete--show"
            type="button"
            ng-if="editAccountCtrl.editAccount.closed"
            ng-click="editAccountCtrl.open()">
      <i class="fa fa-plus-circle"></i>Open
    </button>

    <button class="tooltip__delete button button--link-danger tooltip__delete--show"
            type="button"
            ng-if="editAccountCtrl.editAccount.closed"
            ng-click="editAccountCtrl.remove()">
      <i class="fa fa-minus-circle"></i>Delete
    </button>
  </form>
</div>

