<div class="drop__content">
  <p>How do you want to handle overspending for this category?</p>

  <label>
    <input type="radio" class="form__radio" name="overspending" ng-model="overspending" value="deny"> Subtract it from the next month's "Available to Budget"
  </label>

  <br>

  <label>
    <input type="radio" class="form__radio" name="overspending" ng-model="overspending" value="allow"> Subtract it from the next month's category balance <i class="overspending-select__arrow fa fa-arrow-right"></i>
  </label>

  <br>
  <button class="button button--primary" ng-click="submit(overspending)"><i class="fa fa-check"></i> Save</button>
  <button class="button button--link" ng-click="close()">
    Cancel
  </button>
</div>



