<ul class="dropdown">
  <li
    class="dropdown__item"
    ng-click="quickBudgetCtrl.lastMonth()"
    translate="USE_LAST_MONTH_BUDGET"
  ></li>
  <li
    class="dropdown__item"
    ng-click="quickBudgetCtrl.average()"
    translate="USE_AVERAGE_3_MONTHS_BUDGET"
  ></li>
  <li
    class="dropdown__item"
    ng-click="quickBudgetCtrl.zero()"
    translate="BUDGET_TO_ZERO"
  ></li>
  <li
    class="dropdown__item"
    ng-click="quickBudgetCtrl.clear()"
    translate="CLEAR_ALL_BUDGET_AMOUNTS"
  ></li>
</ul>
