<div class="drop__content">
  <label>
    Email<br>
    <input type="text"
           class="form__textarea form__textarea--monospace"
           ng-model="email"
           required>
  </label>
  <br>
  <label>
    Password<br>
    <input type="password"
           class="form__textarea form__textarea--monospace"
           ng-model="password"
           required>
  </label>
  <br>
  <button ladda="loading" class="button button--primary" ng-click="login(email, password)"><i class="fa fa-check"></i> Sign in</button>
</div>

