// .account {
//   width: 100%;
//   table-layout: fixed;
//   border-collapse: collapse;
//   display: table;

//   font-size: 0.9em;
// }

// .account__thead {
//   display: table-header-group;

//   font-weight: bold;
// }

// .account__th {
//   display: table-cell;
// }

// .account__tbody {
//   display: table-row-group;
// }

// .account__tr {
//   display: table-row;
// }

.account__tbody {
  .account__tr {
    &:nth-child(even) {
      background-color: lighten($primary, 40%);
    }
  }
}

.account {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: calc(100% - 3.2rem);

    font-size: 0.9em;
}

.account * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}

.account__thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    font-weight: bold;
    border-bottom: 1px solid $primary;
}

.account__tbody {
    overflow-y: scroll;
    display: inline-block;
}

.account__thead > .account__tr,
.account__tbody > .account__tr,
.account__tfoot > .account__tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.account__thead,
.account__tfoot {
    flex-shrink: 0;
}

.account__th,
.account__tbody .account__td {
    width: 20%; /* this can vary */
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.account__tfoot {
    display: inline-block;
}

.account__tfoot .account__td {
    width: 100%;
    display: inline-block;
}

.account__td {
  display: table-cell;
}

.account__cell-memo {
  width: 25%;
}

.account__accounts-list {
  background-color: $primary;
  margin: 0;
  padding: 0;
  color: white;
}

.account__edit {
  opacity: 0;
  pointer-events: none;
}

.account__account {
  display: inline-block;
  list-style: none;
  padding: 0 1rem;
  margin: 0;

  height: 3.2rem;
  vertical-align: top;

  cursor: pointer;
}

.account__name {

}


.account__plus {
  @extend .account__account;

  font-size: 3em;
  line-height: 1em;
  font-weight: 300;
}

.account__amount {
  display: block;
  font-weight: 300;
}

.account__account--active {
  background-color: lighten($primary, 10%);

  .account__edit {
    opacity: 0.8;
    pointer-events: auto;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}
