@import 'bourbon';
@import 'normalize';

$lato-font-path: '../bower_components/lato/font';
@import 'lato';

$fa-font-path: '../node_modules/font-awesome/fonts';
@import 'font-awesome';

@import 'angular-tooltips';

@import 'core/variables';


html,
body,
.full-height {
  height: 100%;
}

html {
  box-sizing: border-box;
  line-height: 1.5;
  // overflow: hidden; // stop body overscroll
}

body {
  // $tablet: new-breakpoint(max-width 768px 8);
  // @include media($tablet) {
  //   font-size: 0.8em;
  // }

  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

a {
  color: inherit;
}


@import 'viewTransition';
@import 'welcome';
@import 'header';
@import 'budget';
@import 'monthOverview';
@import 'monthBody';
@import 'account';
@import 'monthSelect';

