.budgets {
  max-width: 800px;
  margin: 0 auto;
}

.budgets__title {
  color: $primary;
  font-size: 2em;
  font-weight: 300;
  border-bottom: 1px solid $primary;
}

.budgets__budgets {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.budgets__budget {
  transition: transform 250ms ease;
  border: 1px solid $primary;

  cursor: pointer;
  
  &:hover,
  &:focus {
    transform: scale(1.1);

    .budget__budget-close {
      transform: scale(1) rotate(45deg);
    }
  }

    // .budget__budget-new-icon {
    //   transform: scale(1.5);
    // }

  text-align: center;
  text-decoration: none;

  transition: all 250ms ease;
}

.budgets__flipper {
  list-style: none;

  position: relative;

  perspective: 1000px;
  transition-duration: 500ms;
  width: 10em;
  height: 10em;
  margin: 1em;
}

.budgets__flipper--open {
  .budgets__budget {
    transform: rotateX(180deg);
  }
  .budgets__budget-remove {
    transform: rotateX(0);
  }

  .budget__budget-close {
    display: none; // prevent flicker
  }
}

.budgets__budget-remove {
  transform: rotateX(-180deg);
  transition: transform 500ms ease;

  background-color: $danger;
  color: $white;

  header {
    font-size: 0.8em;
    margin: 0 1em;
  }

  button {
    font-size: 0.8em;

    background-color: $white;
    color: black;
    border: 0;

    padding: 0.25em 0.5em;

    &.danger {
      background-color: $danger;
      color: $white;
      border: 1px solid $white;
    }

    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}

.budgets__budget-remove,
.budgets__budget {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 10em;
  height: 10em;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.budget__budget-opened {
  width: 100%;
  font-size: 0.9em;
  color: #aaa;

  transition: all 250ms ease;
}

.budget__budget-close {
  position: absolute;
  line-height: 0.8em;
  width: 0.8em;
  height: 0.8em;
  font-size: 2em;
  bottom: 5px;
  right: 5px;

  color: black;

  transform: scale(0) rotate(45deg);

  &:hover,
  &:focus {
    color: $danger;
  }

  transition: transform 250ms ease;
}

.budget__budget-new-icon {
  font-size: 5em;
  width: 100%;
  line-height: 1;

  transition: transform 250ms ease;
}
