.header {
  background-color: $primary;
  height: $headerHeight;
  line-height: $headerHeight;
  width: 100%;
  color: $white;
  padding-left: 0.5em;
}

.header__title {
  font-size: 1.3em;
  font-weight: 300;
  margin: 0;
  width: 100%;
}

.header__links {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.header__link {
  display: inline-block;
  padding: 0 0.2em;
  font-weight: 300;
  opacity: 0.7;

  &:nth-child(2) {
    &.header__link--active {
      ~ hr {
        margin-left: 33.33%;
      }
    }
  }

  &:nth-child(3) {
    &.header__link--active {
      ~ hr {
        margin-left: 66.66%;
      }
    }
  }

  &:hover {
    opacity: 1;
  }

  a {
    display: inline-block;
    padding: 0 1em;
    white-space: nowrap;

    &:hover {
      text-decoration: none;
    }
  }
}

.header__underline {
  height: 3px;
  width: 33.33%;
  position: absolute;
  top: 0;
  margin: 0;
  background: white;
  border: 0;
  transition: 200ms ease;
}

.header__link--active {
  opacity: 1;
}

.header__body {
  height: calc(100% - #{$headerHeight});
}
