.month-overview {
}

.month-overview__cell-head {
  font-weight: 500;
  font-size: 0.8em;
  background-color: $cell-header;
}

.month-overview__cell-head,
.month-overview__cell {
  text-align: right;
  // border: 1px solid $primary;
}

.month-overview__month-overview {
  background-color: $darkGray;
  color: $white;
  font-weight: 500;
}

.month-overview__month-list {
  font-size: 0.8em;
  margin: 0;

  dt {
    float: left;
    clear: left;
    width: 7em;
    text-align: right;
  }

  dd {
    text-align: left;
    margin-left: 8em;
  }
}

.month-overview__month-total {
  margin-top: 0.2em;
  font-size: 2em;
  line-height: 1em;
  color: lightgreen;
}

.month-overview__month-total--negative {
  color: red;
}

.month-overview__month-total-subtext {
  font-size: 0.9em;
  margin-bottom: 0.5em;
}
