.month-body {
}

.month-body__cell-head {
  font-weight: 500;
  font-size: 0.8em;
}

.month-body__cell-head,
.month-body__cell {
  text-align: right;
  border-bottom: 1px solid $primary;

  &:hover {
    border-bottom: 1px solid darken($primary, 30%);
  }
}


.month-body__month-body {
  background-color: $darkGray;
  color: $white;
  font-weight: 500;
}

.month-body__row--master {
  background-color: lighten($primary, 30%);
  font-weight: bold;
}
