.month-body {
}

.month-body__cell-head {
  font-size: 12px;
}

.month-body__cell-head,
.month-body__cell {
  text-align: right;
}

.month-body__month-body {
  background-color: $darkGray;
  color: $white;
  font-weight: 400;
}

.month-body__row--master {
  background-color: #efefef;
  font-weight: bold;

  .month-body__cell-head {
    border-bottom: 0;
  }
}
