.reset-password {
  background-color: $primary;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  text-align: center;
}

.reset-password__text--loading {
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.5;
}

@keyframes pulsate {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.reset-password__text {
  font-size: 2em;
}

.reset-password__subtext {
  font-size: 1.25em;
  margin-bottom: 1em;
}

.reset-password__text,
.reset-password__subtext,
.reset-password__button {
  font-family: 'lato', sans-serif;
  font-weight: 300;
}

.reset-password__label {
  display: block;
}

.reset-password__input {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid white;
  font-size: 1.3em;
  color: white;
}

$opaque: rgba(255, 255, 255, 0.2);

.reset-password__button {
  text-align: center;
  padding: 0.5em 1em;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5em;
  background-color: $opaque;
  border: 0;
  color: $white;
}
