.table-budget {
  width: 100%;
  table-layout: fixed;
}

.table-budget__cell-head {
  font-weight: 500;
  font-size: 0.8em;
  background-color: $cell-header;
}

.table-budget__cell-head,
.table-budget__cell {
  text-align: right;
  padding: 5px;
  border-left: 1px solid $white;
  border-right: 1px solid $white;
}

.table-budget__cell-separator {
  width: 0.25em;
}

.table-budget__month-overview {
  background-color: $darkGray;
  color: $white;
  font-weight: 500;
}

.table-budget__month-list {
  font-size: 0.8em;
  margin: 0;

  dt {
    float: left;
    clear: left;
    width: 7em;
    text-align: right;
  }

  dd {
    text-align: left;
    margin-left: 8em;
  }
}

.table-budget__month-total {
  margin-top: 0.2em;
  font-size: 2em;
  line-height: 1em;
  color: lightgreen;
}

.table-budget__month-total--negative {
  color: red;
}

.table-budget__month-total-subtext {
  font-size: 0.9em;
  margin-bottom: 0.5em;
}
