.user-options {
  padding: 0;
  margin: 0;

  font-size: 0.9em;

  background-color: rgba(255, 255, 255, 0.75);
  color: black;

  li {
    list-style: none;
    line-height: 3rem;
    padding: 0 1em;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
