.view-transition {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;

  // prepare for change
  transform: translate3d(0, 0, 0);
}

.ng-enter {
  z-index: 8888;
}

.ng-leave {
  z-index: 9999;
}

.state-app-db-budget.ng-enter {
  animation: slideInLeft 0.5s both ease;
}

.state-app-db-budget.ng-leave {
  animation: slideOutLeft 0.5s both ease;
}

.state-app-db-reports.ng-enter {
  animation: slideInRight 0.5s both ease;
}

.state-app-db-reports.ng-leave {
  animation: slideOutRight 0.5s both ease;
}

.state-app-db-budget + .state-app-db-account.ng-leave {
  animation: slideOutRight 0.5s both ease;
}

.state-app-db-reports + .state-app-db-account.ng-leave {
  animation: slideOutLeft 0.5s both ease;
}

.state-app-db-account.state-app-db-budget-leave.ng-enter {
  animation: slideInRight 0.5s both ease;
}

.state-app-db-account.state-app-db-reports-leave.ng-enter {
  animation: slideInLeft 0.5s both ease;
}

// slide in from the bottom
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}

// slide in from the right
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

// slide in from the bottom
@keyframes slideOutRight {
  to {
    transform: translateX(100%);
  }
}

// slide in from the right
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.view-transition__fade {
  // start 'enter' transition on main view
  &.ng-enter {
    // transition on enter for 0.5s
    transition: 0.5s;

    // start with opacity 0 (invisible)
    opacity: 0;
  }

  // end 'enter' transition on main view
  &.ng-enter-active {
    // end with opacity 1 (fade in)
    opacity: 1;
  }
}
