virtual-list {
  overflow-y: auto;
  display: block;
  flex: 1;

  // For tether.js
  // https://github.com/HubSpot/tether/issues/135#issuecomment-167601049
  position: relative;

  .canvas {
    position: relative;
    min-height: 100%;
  }

  .renderer {
    position: absolute;
    width: 100%;
  }
}
