<div class="mobile-keypad">
  <div class="mobile-keypad__number" ng-click="addNumber(1)">1</div>
  <div class="mobile-keypad__number" ng-click="addNumber(2)">2</div>
  <div class="mobile-keypad__number" ng-click="addNumber(3)">3</div>
  <div class="mobile-keypad__number" ng-click="addNumber(4)">4</div>
  <div class="mobile-keypad__number" ng-click="addNumber(5)">5</div>
  <div class="mobile-keypad__number" ng-click="addNumber(6)">6</div>
  <div class="mobile-keypad__number" ng-click="addNumber(7)">7</div>
  <div class="mobile-keypad__number" ng-click="addNumber(8)">8</div>
  <div class="mobile-keypad__number" ng-click="addNumber(9)">9</div>
  <div class="mobile-keypad__number" ng-click="removeNumber()">⌫</div>
  <div class="mobile-keypad__number" ng-click="addNumber(0)">0</div>
  <div class="mobile-keypad__number" ng-click="onNext()">Next</div>
</div>
