<ul class="account__accounts-list">
  <li class="account__account account__account--active">
    All accounts
    <span class="account__amount account__account--positive">$11,234.05</span>
  </li>
  <li class="account__account">
    <span class="account__name">Checking</span>
    <span class="account__amount account__account--positive">$1,234.05</span>
  </li>
  <li class="account__account">
    <span class="account__name">Savings</span>
    <span class="account__amount account__account--positive">$10,234.05</span>
  </li>
  <li class="account__account">
    <span class="account__name">American Express</span>
    <span class="account__amount account__account--positive">$1,234.93</span>
  </li>
  <li class="account__plus">+</li>
</ul>

<div class="account">
  <div class="account__thead">
    <div class="account__tr">
      <div class="account__th">Account</div>
      <div class="account__th">Flag</div>
      <div class="account__th">Date</div>
      <div class="account__th">Payee</div>
      <div class="account__th">Category</div>
      <div class="account__th account__cell-memo">Memo</div>
      <div class="account__th">Value</div>
      <div class="account__th">Cleared</div>
    </div>
  </div>
  <div class="account__tbody" infinite-scroll="accountCtrl.viewMore()">

    <div class="account__tr" ng-repeat="tWrap in accountCtrl.transactions | limitTo:accountCtrl.totalDisplayed">
      <div class="account__td">{{:: tWrap.transaction.account}}</div>
      <div class="account__td">{{:: tWrap.transaction.flag}}</div>
      <div class="account__td">{{:: tWrap.transaction.date | date}}</div>
      <div class="account__td">{{:: tWrap.transaction.payee}}</div>
      <div class="account__td">{{:: tWrap.categoryId}}</div>
      <div class="account__td" class="account__cell-memo">{{:: tWrap.transaction.memo}}</div>
      <div class="account__td">{{:: tWrap.transaction.value}}</div>
      <div class="account__td">{{:: tWrap.transaction.cleared}}</div>
    </div>

  </div>
</div>
