<div class="account" st-table="displayedTransactions" st-safe-src="transactions" disable-ng-animate>
  <div class="account__tbody">
    <div class="account__tr account__tr--overview">
      <div class="account__name" ng-click="dbCtrl.editAccount(accountCtrl.account)">{{accountCtrl.account.name}}</div>
      <div class="account__balance">
        <div>
          <div class="account__balance-title">Cleared balance</div>
          <div class="account__balance-value">{{accountCtrl.account.cache.clearedBalance | intCurrency | currency}}</div>
        </div>
      </div>
      <div class="account__operator">+</div>
      <div class="account__balance">
        <div>
          <div class="account__balance-title">Uncleared balance</div>
          <div class="account__balance-value">{{accountCtrl.account.cache.unclearedBalance | intCurrency | currency}}</div>
        </div>
      </div>
      <div class="account__operator">=</div>
      <div class="account__balance">
        <div>
          <div class="account__balance-title">Working balance</div>
          <div class="account__balance-value">{{accountCtrl.account.cache.balance | intCurrency | currency}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="account__tbody">
    <div class="account__tr">
      <button class="account__add-button" ng-click="accountCtrl.createTransaction()"><i class="fa fa-plus"></i> Add a new transaction</button>
      <button class="account__add-button"><i class="fa fa-exchange"></i> Make a transfer</button>

      <button class="account__add-button" ng-if="accountCtrl.selectedTransactions.length" bulk-edit-transactions="accountCtrl.selectedTransactions"><i class="fa fa-edit"></i> Edit ({{accountCtrl.selectedTransactions.length}}) <i class="fa fa-sort-desc"></i></button>
    </div>
  </div>
  <div class="account__thead" ng-click="$event.stopPropagation()">
    <div class="account__tr">
      <div class="account__th account__th--select">
        <input type="checkbox" ng-model="accountCtrl.isAllSelected" ng-model-options="{ getterSetter: true }">
      </div>
      <div class="account__th" ng-if="!accountCtrl.accountId" st-sort="account"><span>Account</span></div>
      <div class="account__th account__th--flag" st-sort="flag"><div class="account__header-flag"><div></div></div></div>
      <div class="account__th" st-sort="date" st-sort-default="reverse"><span>Date</span></div>
      <div class="account__th" st-sort="payee"><span>Payee</span></div>
      <div class="account__th" st-sort="category"><span>Category</span></div>
      <div class="account__th account__cell-memo"><span>Memo</span></div>
      <div class="account__th account__cell-inflow" st-sort="inflow"><span>Inflow</span></div>
      <div class="account__th account__cell-outflow" st-sort="outflow"><span>Outflow</span></div>
      <div class="account__th account__cell-cleared" st-sort="cleared"><span>Cleared</span></div>
    </div>
  </div>

  <virtual-list class="account__tbody"></virtual-list>

</div>

