<div class="account" st-table="displayedTransactions" st-safe-src="transactions" disable-ng-animate>
  <div class="account__tbody">
    <div class="account__tr account__tr--overview">
      <div class="account__name" ng-click="dbCtrl.editAccount(accountCtrl.account)">{{accountCtrl.account.name}}</div>
      <div class="account__balance">
        <div>
          <div class="account__balance-title">{{'CLEARED_BALANCE' | translate}}</div>
          <div class="account__balance-value" ng-class="{'account__balance-value--negative': accountCtrl.account.cache.clearedBalance < 0}">{{accountCtrl.account.cache.clearedBalance | intCurrency : true : dbCtrl.currencyDigits | currency : dbCtrl.currencySymbol : dbCtrl.currencyDigits}}</div>
        </div>
      </div>
      <div class="account__operator">+</div>
      <div class="account__balance">
        <div>
          <div class="account__balance-title">{{'UNCLEARED_BALANCE' | translate}}</div>
          <div class="account__balance-value" ng-class="{'account__balance-value--negative': accountCtrl.account.cache.unclearedBalance < 0}">{{accountCtrl.account.cache.unclearedBalance | intCurrency : true : dbCtrl.currencyDigits | currency : dbCtrl.currencySymbol : dbCtrl.currencyDigits}}</div>
        </div>
      </div>
      <div class="account__operator">=</div>
      <div class="account__balance">
        <div>
          <div class="account__balance-title">{{'WORKING_BALANCE' | translate}}</div>
          <div class="account__balance-value" ng-class="{'account__balance-value--negative': accountCtrl.account.cache.balance < 0}">{{accountCtrl.account.cache.balance | intCurrency : true : dbCtrl.currencyDigits | currency : dbCtrl.currencySymbol : dbCtrl.currencyDigits}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="account__tbody">
    <div class="account__tr">
      <button class="account__add-button" ng-click="dbCtrl.stopPropagation($event); accountCtrl.createTransaction()"><i class="fa fa-plus"></i> {{'ADD_A_NEW_TRANSACTION' | translate}}</button>
      <button class="account__add-button"><i class="fa fa-exchange"></i> Make a transfer</button>

      <button class="account__add-button" ng-if="accountCtrl.selectedTransactions.length" bulk-edit-transactions="accountCtrl.selectedTransactions" manager="dbCtrl.manager" payees="dbCtrl.payees"><i class="fa fa-edit"></i> Edit ({{accountCtrl.selectedTransactions.length}}) <i class="fa fa-sort-desc"></i></button>
    </div>
  </div>
  <div class="account__thead" ng-click="dbCtrl.stopPropagation($event)">
    <div class="account__tr">
      <div class="account__th account__th--select">
        <input type="checkbox" ng-model="accountCtrl.isAllSelected" ng-model-options="{ getterSetter: true }">
      </div>
      <div class="account__th account__td--large" ng-if="!accountCtrl.accountId" st-sort="accountCtrl.customSorts.account"><span>{{'ACCOUNT' | translate}}</span></div>
      <div class="account__th account__th--flag" st-sort="flag"><div class="account__header-flag"><div></div></div></div>
      <div class="account__th account__th--date" st-sort="accountCtrl.customSorts.date" st-sort-default="reverse"><span>{{'DATE' | translate}}</span></div>
      <div class="account__th account__td--large" st-sort="payee"><span>{{'PAYEE' | translate}}</span></div>
      <div class="account__th account__td--large" st-sort="category"><span>{{'CATEGORY' | translate}}</span></div>
      <div class="account__th account__cell-memo"><span>{{'MEMO' | translate}}</span></div>
      <div class="account__th account__td--small account__cell-inflow" st-sort="inflow"><span>{{'INFLOW' | translate}}</span></div>
      <div class="account__th account__td--small account__cell-outflow" st-sort="outflow"><span>{{'OUTFLOW' | translate}}</span></div>
      <div class="account__th account__cell-cleared" st-sort="cleared"><span>{{'CLEARED' | translate}}</span></div>
    </div>
  </div>

  <div class="account__tbody">

    <transaction-creator transaction="accountCtrl.newTransaction"
         ng-if="accountCtrl.newTransaction"
         class="account__tr account__tr--editing"
         hotkey="{esc: accountCtrl.stopEditing}"
         ng-click="dbCtrl.stopPropagation($event)"></transaction-creator>

  </div>

  <virtual-list class="account__tbody account__tbody--striped"></virtual-list>

</div>

