<div class="app-view">
  <div class="app-view__header">
    <staging-warning></staging-warning>
    <apply-update></apply-update>
  </div>

  <div class="app-view__main">
    <div class="app-view__sidebar" resizable r-directions="['right']" r-flex="true" r-width="dbCtrl.sidebarInitialWidth">

      <h1 class="app-view__title">
        <span>F</span>
        <a ui-sref="user.budget">{{dbCtrl.budgetRecord.name}}</a>
      </h1>

      <div class="app-view__sidebar-main">
        <ul class="app-view__links">
          <li class="app-view__link" ui-sref-active="app-view__link--active">
            <a ui-sref="user.app.manager.view.budget"><div class="app-view__link-text"><i class="fa fa-tags"></i> {{'BUDGET' | translate}}</div></a>
          </li>
          <li class="app-view__link" ui-sref-active="app-view__link--active">
            <a ui-sref="user.app.manager.view.reports"><div class="app-view__link-text"><i class="fa fa-pie-chart"></i> {{'REPORTS' | translate}}</div></a>
          </li>
          <li class="app-view__link" ui-sref-active="app-view__link--active">
            <a ui-sref="user.app.manager.view.account({accountId: null})">
              <div class="app-view__link-text"><i class="fa fa-credit-card"></i> {{'ACCOUNTS' | translate}}</div>
              <aside>{{dbCtrl.manager.allAccounts.balance | intCurrency : true : dbCtrl.currencyDigits | currency : dbCtrl.currencySymbol : dbCtrl.currencyDigits}}</aside>
            </a>
          </li>

          <!-- <hr class="app-view__underline" /> -->
        </ul>

        <div class="app-view__accounts">

          <div class="app-view__accounts-list-border" ng-show="dbCtrl.onBudgetAccounts.length">
            <div class="app-view__accounts-title" ng-click="dbCtrl.collapsed.onBudgetAccounts = !dbCtrl.collapsed.onBudgetAccounts">
              <span class="app-view__accounts-name">
                <i class="fa fa-angle-down app-view__accounts-angle" ng-class="{'app-view__accounts-angle--collapsed': dbCtrl.collapsed.onBudgetAccounts}"></i> On Budget
              </span>
              <span class="app-view__accounts-value">{{dbCtrl.totalAccountsBalance(dbCtrl.onBudgetAccounts) | intCurrency : true : dbCtrl.currencyDigits | currency : dbCtrl.currencySymbol : dbCtrl.currencyDigits}}</span>
            </div>

            <ul class="app-view__accounts-list" ng-sortable="dbCtrl.accountSortable" collapse="dbCtrl.collapsed.onBudgetAccounts">
              <li class="app-view__account"
                  ng-repeat="account in dbCtrl.onBudgetAccounts"
                  ui-sref="user.app.manager.view.account({accountId: account.id})"
                  ui-sref-active="app-view__account--active"
                  edit-account="account"
                  on-remove-account="dbCtrl.removeAccount(account)"
                  on-account-change="dbCtrl.filterAccounts()">
                <span class="app-view__name">{{account.name}}</span>
                <span>{{account.cache.balance | intCurrency : true : dbCtrl.currencyDigits | currency : dbCtrl.currencySymbol : dbCtrl.currencyDigits}}</span>
              </li>
            </ul>
          </div>

          <div class="app-view__accounts-list-border app-view__accounts-list-border--no-top" ng-show="dbCtrl.offBudgetAccounts.length">
            <div class="app-view__accounts-title" ng-click="dbCtrl.collapsed.offBudgetAccounts = !dbCtrl.collapsed.offBudgetAccounts">
              <span class="app-view__accounts-name">
                <i class="fa fa-angle-down app-view__accounts-angle" ng-class="{'app-view__accounts-angle--collapsed': dbCtrl.collapsed.offBudgetAccounts}"></i> Off Budget
              </span>
              <span class="app-view__accounts-value">{{dbCtrl.totalAccountsBalance(dbCtrl.offBudgetAccounts) | intCurrency : true : dbCtrl.currencyDigits | currency : dbCtrl.currencySymbol : dbCtrl.currencyDigits}}</span>
            </div>

            <ul class="app-view__accounts-list" ng-sortable="dbCtrl.accountSortable" collapse="dbCtrl.collapsed.offBudgetAccounts">
              <li class="app-view__account"
                  ng-repeat="account in dbCtrl.offBudgetAccounts"
                  ui-sref="user.app.manager.view.account({accountId: account.id})"
                  ui-sref-active="app-view__account--active"
                  edit-account="account"
                  on-remove-account="dbCtrl.removeAccount(account)"
                  on-account-change="dbCtrl.filterAccounts()">
                <span class="app-view__name">{{account.name}}</span> <!-- <i class="app-view__edit fa fa-cog" ng-click="dbCtrl.edit($event, account)"></i> -->
                <span>{{account.cache.balance | intCurrency : true : dbCtrl.currencyDigits | currency : dbCtrl.currencySymbol : dbCtrl.currencyDigits}}</span>
              </li>
            </ul>
          </div>

          <div class="app-view__accounts-list-border app-view__accounts-list-border--no-top" ng-show="dbCtrl.closedAccounts.length">
            <div class="app-view__accounts-title" ng-click="dbCtrl.collapsed.closedAccounts = !dbCtrl.collapsed.closedAccounts">
              <span class="app-view__accounts-name">
                <i class="fa fa-angle-down app-view__accounts-angle" ng-class="{'app-view__accounts-angle--collapsed': dbCtrl.collapsed.closedAccounts}"></i> Closed
              </span>
            </div>

            <ul class="app-view__accounts-list" ng-sortable="dbCtrl.accountSortable" collapse="dbCtrl.collapsed.closedAccounts">
              <li class="app-view__account"
                  ng-repeat="account in dbCtrl.closedAccounts"
                  ui-sref="user.app.manager.view.account({accountId: account.id})"
                  ui-sref-active="app-view__account--active"
                  edit-account="account"
                  on-remove-account="dbCtrl.removeAccount(account)"
                  on-account-change="dbCtrl.filterAccounts()">
                <span class="app-view__name">{{account.name}}</span> <!-- <i class="app-view__edit fa fa-cog" ng-click="dbCtrl.edit($event, account)"></i> -->
                <span>{{account.cache.balance | intCurrency : true : dbCtrl.currencyDigits | currency : dbCtrl.currencySymbol : dbCtrl.currencyDigits}}</span>
              </li>
            </ul>
          </div>

          <button class="app-view__add-account" ng-click="dbCtrl.createAccount()">{{'ADD_AN_ACCOUNT' | translate}}</button>
        </div>
      </div>

      <footer ng-if="userCtrl.email"
              class="app-view__sidebar-footer">
        <sync-status status="userCtrl.status"></sync-status>

        <div class="app-view__sidebar-footer--logged-in">
          <div class="app-view__sidebar-details">
            <ul class="user-options">
              <li>Logout</li>
              <li>Logout &amp; remove local budgets</li>
            </ul>
          </div>

          <div class="app-view__sidebar-footer-button">
            <span>{{userCtrl.email}}</span>

            <img ng-if="userCtrl.email" ng-src="https://www.gravatar.com/avatar/{{userCtrl.email | gravatar}}" alt="{{email}} Gravatar">
          </div>
        </div>
      </footer>


      <footer ng-if="!userCtrl.email" class="app-view__sidebar-footer">
        <a class="app-view__sync" ui-sref="user.signup">
          Don't have an account? Upgrade to unlock syncing. Free for 7 days!
        </a>

        <div class="app-view__sidebar-footer--logged-in">
          <div ng-click="userCtrl.signin()" class="app-view__sidebar-footer-button app-view__sidebar-footer-button--sign-in">
            Sign into your account
          </div>
        </div>
      </footer>
    </div>

    <div ui-view class="app-view__body"></div>
    
  </div>
</div>

