<div class="budget" flex-months>
  <table>
    <thead>
      <tr class="month-overview__row">
        <th class="budget__category-label"></th>
        <th class="month-overview__month-overview"
            colspan="3"
            ng-repeat="month in dbCtrl.months | limitFlexMonths : budgetCtrl.showMonths"
            ng-class="{'budget__month-end': !$last}">
          <div class="month-overview__month-text">{{month.data._id | date: 'MMMM yyyy'}}</div>
          <dl class="month-overview__month-list">
            <dt>{{overview.notBudgeted}}</dt>
            <dd>Not budgeted in {{overview.date | date: 'MMM'}}</dd>
            <dt>{{overview.overspent}}</dt>
            <dd>Overspent in {{overview.date | date: 'MMM'}}</dd>
            <dt>{{overview.nextMonthIncome}}</dt>
            <dd>Income for {{overview.nextDate | date: 'MMM'}}</dd>
            <dt>{{overview.nextMonthBudgeted}}</dt>
            <dd>Budgeted in {{overview.nextDate | date: 'MMM'}}</dd>
          </dl>

          <div class="month-overview__month-total">= $20.00</div>
          <div class="month-overview__month-total-subtext">Available to budget</div>
        </th>
      </tr>
      <tr class="month-overview__row">
        <th class="budget__month-row budget__category-label"></th>
        <th class="budget__month-row month-overview__cell-head"
            ng-repeat-start="month in dbCtrl.months | limitFlexMonths : budgetCtrl.showMonths">Budgeted<div>{{month.cache.totalBudget | currency}}</div></th>
        <th class="budget__month-row month-overview__cell-head">Outflows<div>{{month.cache.totalTransactions | currency}}</div></th>
        <th class="budget__month-row month-overview__cell-head"
            ng-class="{'budget__month-end': !$last}"
            ng-repeat-end>Balance<div>{{month.cache.totalBalance | currency}}</div></th>
      </tr>
    </thead>
    <tbody class="overflowable">
      <tr class="month-body__row"
          ng-repeat="row in dbCtrl.categories"
          ng-init="catIndex = $index">
        <td class="budget__month-row budget__category-label">{{row.name}}</td>
        <td class="budget__month-row month-body__cell-head"
            ng-repeat-start="month in dbCtrl.months | limitFlexMonths : budgetCtrl.showMonths"
            >
          <input type="text"
                 class="budget__cell-input"
                 ng-attr-tabindex="{{(($index * dbCtrl.categories.length) + catIndex) + 1}}"
                 on-update="month.setBudget(row._id, model)"
                 view-model="month.data.categories[row._id].budget"></td>
        <td class="budget__month-row month-body__cell-head">0.00</td>
        <td class="budget__month-row month-body__cell-head"
            ng-class="{'budget__month-end': !$last}"
            ng-repeat-end>{{month.categoryCache[row._id].balance | currency}}</td>
      </tr>
      
    </tbody>

  </table>
</div>