<div class="budget" flex-months>
  <div class="budget__table">
    <div class="budget__thead">
      <div class="budget__tr">
        <div class="budget__td budget__category-label"></div>
        <div class="budget__td" colspan="{{budgetCtrl.showMonths * 3}}">
          <month-selector ng-model="dbCtrl.currentMonth" show-months="budgetCtrl.showMonths"></month-selector>
        </div>
      </div>
      <div class="budget__tr month-overview__row">
        <div class="budget__th budget__category-label"></div>
        <div class="budget__th month-overview__month-overview"
             colspan="3"
             ng-repeat="month in dbCtrl.months | limitTo : budgetCtrl.showMonths"
             ng-class="{
                         'budget__month-end': !$last,
                         'month-overview__month-overview--old': month.date < budgetCtrl.currentMonth,
                         'month-overview__month-overview--current': month.date === budgetCtrl.currentMonth
                       }">
          <div class="month-overview__month-text">{{month.date | date: 'MMMM yyyy'}}</div>
          <dl class="month-overview__month-list">
            <dt>
              <span ng-if="dbCtrl.months[$index - 1]">{{dbCtrl.months[$index - 1].cache.totalIncome - dbCtrl.months[$index - 1].cache.totalBudget | intCurrency | currency}}</span>
            </dt>
            <dd>Not budgeted in {{dbCtrl.months[$index - 1].date | date: 'MMM'}}</dd>
            <dt>{{dbCtrl.months[$index - 1].cache.totalBalance}}</dt>
            <dd>Overspent in {{dbCtrl.months[$index - 1].date | date: 'MMM'}}</dd>
            <dt>{{month.cache.totalIncome | intCurrency | currency}}</dt>
            <dd>Income for {{month.date | date: 'MMM'}}</dd>
            <dt>{{month.cache.totalBudget | intCurrency | currency}}</dt>
            <dd>Budgeted in {{month.date | date: 'MMM'}}</dd>
          </dl>

          <div class="month-overview__month-total" ng-class="
            {
              'month-overview__month-total--negative': month.cache.totalAvailable < 0
            }">= {{month.cache.totalAvailable | intCurrency | currency}}</div>
          <div class="month-overview__month-total-subtext">Available to budget</div>
        </div>
      </div>
      <div class="budget__tr month-overview__row" disable-ng-animate>
        <div class="budget__th budget__month-row budget__category-label"></div>
        <div class="budget__th budget__month-row month-overview__cell-head"
             ng-repeat-start="month in dbCtrl.months | limitTo : budgetCtrl.showMonths">Budgeted<div>{{month.cache.totalBudget | intCurrency | currency}}</div></div>
        <div class="budget__th budget__month-row month-overview__cell-head">Outflows<div>{{month.cache.totalTransactions | intCurrency | currency}}</div></div>
        <div class="budget__th budget__month-row month-overview__cell-head"
            ng-class="{'budget__month-end': !$last}"
            ng-repeat-end>Balance<div>{{month.cache.totalBalance | intCurrency | currency}}</div></div>
      </div>
    </div>
    <div class="budget__tbody overflowable" ng-sortable="masterCategorySortable" disable-ng-animate>
      <div ng-repeat="masterCategory in dbCtrl.categories">
        <div class="budget__tr month-body__row month-body__row--master">
          <div class="budget__td budget__month-row budget__category-label">{{masterCategory.name}}</div>
            <div class="budget__td budget__month-row month-body__cell-head"
                ng-repeat-start="month in dbCtrl.months | limitTo : budgetCtrl.showMonths"
                ng-controller="masterCategoryCtrl as masterCategoryCtrl"
                >{{masterCategoryCtrl.budget | intCurrency}}</div>
            <div class="budget__td budget__month-row month-body__cell-head">0.00</div>
            <div class="budget__td budget__month-row month-body__cell-head"
                ng-class="{'budget__month-end': !$last}"
                ng-controller="masterCategoryCtrl as masterCategoryCtrl"
                ng-repeat-end>{{masterCategoryCtrl.balance | intCurrency}}</div>
        </div>
        
        <div class="budget__category-sortable" ng-sortable="categorySortable" ng-mouseenter="masterCategorySortable.disabled = true" ng-mouseleave="masterCategorySortable.disabled = false">
          <div class="budget__tr month-body__row"
              ng-repeat="row in masterCategory.categories"
              ng-class="{'budget__month-row--last': $last}">
            <div class="budget__td budget__month-row budget__category-label">
              <i class="budget__month-row-note fa fa-sticky-note-o"
                 ng-class="{'budget__month-row-note--showing': row.note.length}"
                 note="row.note"></i>
              {{row.name}}
            </div>
            <div class="budget__td budget__month-row month-body__cell-head budget__month-cell--input"
                ng-repeat-start="month in dbCtrl.months | limitTo : budgetCtrl.showMonths"
                >

              <input type="text"
                     class="budget__cell-input"
                     on-update="month.setBudget(row._id, model)"
                     view-model="month.data.categories[row._id].budget"
                     ng-attr-tabindex="{{$index + 2}}"
                     on-enter-go-next>

              <i class="budget__month-row-note fa fa-sticky-note-o"
                 ng-class="{'budget__month-row-note--showing': month.data.categories[row._id].note.length}"
                 note="month.data.categories[row._id].note"></i>

            </div>
            <div class="budget__td budget__month-row month-body__cell-head budget__month-cell--display"><!--0.00--></div>
            <div class="budget__td budget__month-row month-body__cell-head budget__month-cell--display"
                ng-class="{'budget__month-end': !$last,
                           'budget__month-row--inactive': !month.categoryCache[row._id].balance}"
                ng-repeat-end>
              {{month.categoryCache[row._id].balance | intCurrency}}
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <tfoot>

    </tfoot>

  </div>
</div>
