
<staging-warning></staging-warning>
<!-- <service-worker-status></service-worker-status> -->

<div class="budgets">
  <p>
    <button ng-if="!userCtrl.email" ui-sref="user.signup" class="button button--primary">Upgrade/Sign up</button>
    <button ng-if="!userCtrl.email" ng-click="userCtrl.signin()" class="button button--primary">Login</button>
    <button ng-if="userCtrl.email" ng-click="userCtrl.logout()" ladda="userCtrl.logoutLoading" class="button button--primary">Logout</button>
  </p>

  <sync-status ng-if="userCtrl.email"></sync-status>

  <div class="budgets__title">{{'YOUR_BUDGETS' | translate}}</div>
  
  <ul class="budgets__budgets" disable-ng-animate>
    <li class="budgets__flipper"
        ng-class="{'budgets__flipper--open': budgetsCtrl.isRemoving(budget)}"
        ng-repeat="budget in budgetsCtrl.budgets | orderBy: '-opened'">
      <div class="budgets__budget-remove">
        <header>Are you sure you want to permanently delete "{{budget.name}}"?</header>

        <div>
          <button class="danger" ng-click="budgetsCtrl.remove(budget)">Remove</button> <button ng-click="budgetsCtrl.removing(null, $event)">Cancel</button>
        </div>
      </div>
      <div class="budgets__budget"
           ng-class="{'budgets__budget--loading': budget.loading}"
           ui-sref="user.app.manager.view.budget({budgetId: budget.id})"
           ng-click="budget.loading = true">
        <div class="budget__budget-name">{{budget.name}}</div>
        <div class="budget__budget-opened"
             ng-if="budget.opened"
             title="{{budget.opened | date: 'medium'}}"><sub>Last opened</sub><br>{{budget.opened | timeAgo}}</div>

        <div class="budget__budget-close" ng-click="budgetsCtrl.removing(budget, $event)" tabindex="0">+</div>

        <div class="budgets__budget-loader"></div>
      </div>
    </li>

    <li class="budgets__flipper">
      <div class="budgets__budget" ui-sref="user.budget.create">
        <div class="budget__budget-new-icon">+</div>
      </div>
    </li>
  </ul>

  <div class="budgets__title">Billing</div>

  <div ng-if="userCtrl.isFree === true">
    <p>You're currently using the free version. Your budgets are stored in the browser, and could be deleted if you clear the browser cache!</p>
  </div>

  <p ng-if="userCtrl.loadingFailed">
    Loading subscription information failed. It looks like you might not have an internet connection. No worries -- refresh the page later when you do.
  </p>
  
  <div ng-if="userCtrl.isFree === false">
    <p ng-if="(userCtrl.loadingSubscription || userCtrl.loadingSource) && !userCtrl.loadingFailed">
      Loading subscription...
    </p>


    <div ng-if="!userCtrl.loadingSubscription && !userCtrl.loadingSource && !userCtrl.loadingFailed">
      <h2>{{'YOUR_SUBSCRIPTION' | translate}}</h2>

      <div ng-if="userCtrl.subscription">
        <div ng-if="userCtrl.subscription.cancel_at_period_end">
          <p>It looks like your {{userCtrl.subscription.status === 'trialing' ? 'trial' : 'subscription'}} was canceled. Your last date of premium service will be {{userCtrl.subscription.current_period_end * 1000 | date}}.</p>

          <button class="button button--primary" ladda="userCtrl.loadingStartSubscription" ng-click="userCtrl.startSubscription()">Resume my subscription</button>
          
        </div>

        <div ng-if="!userCtrl.subscription.cancel_at_period_end">
          <div ng-if="userCtrl.source">
            <p>Your subscription will be renewed on {{userCtrl.subscription.current_period_end * 1000 | date}} for $5.00 on your card ending in {{userCtrl.source.last4}}.</p>

            <button class="button button--danger" ladda="userCtrl.loadingStopSubscription" ng-click="userCtrl.stopSubscription()">Cancel subscription</button>

            <p><small>(Don't worry, by canceling you will continue to have premium service until {{userCtrl.subscription.current_period_end * 1000 | date}}.)</small></p>
          </div>

          <div ng-if="!userCtrl.source">
            <p>It looks like you don't currently have a card on your account! Your subscription will end on {{userCtrl.subscription.current_period_end * 1000 | date}} unless you add a card.</p>
          </div>
        </div>
      </div>
      

      <div ng-if="!userCtrl.subscription">
        <p>You don't currently have an active subscription. <span ng-if="!userCtrl.source">You must add a payment method below before starting your subscription.</span></p>

        <div ng-if="userCtrl.source">
          <button class="button button--primary" ng-click="userCtrl.startSubscription()">Start subscription ($5 per month)</button>
        </div>
      </div>

      <h2>Your payment method</h2>

      <p ng-if="!userCtrl.source">
        <button class="button button--primary" ng-if="!userCtrl.source" ng-click="userCtrl.addCard()">+ Add a card</button>
      </p>


      <div ng-if="userCtrl.source">
        <p>Your card {{userCtrl.source.brand}} ending in {{userCtrl.source.last4}} is on your account.</p>

        <button class="button button--danger" ladda="userCtrl.loadingRemoveSource" ng-click="userCtrl.removeSource()">Remove card</button>
      </div>
    </div>
  </div>
</div>
