<header class="header">
  <h1 class="header__title">Financier</h1>

  <ul class="header__links">
    <li class="header__link" ui-sref-active="header__link--active">
      <a ui-sref="app.db.account"><i class="fa fa-credit-card"></i> Accounts</a>
    </li>
    <li class="header__link" ui-sref-active="header__link--active">
      <a ui-sref="app.db.reports"><i class="fa fa-pie-chart"></i> Reports</a>
    </li>
    <li class="header__link" ui-sref-active="header__link--active">
      <a ui-sref="app.db.budget"><i class="fa fa-tags"></i> Budget</a>
    </li>
  </ul>
</header>

<div ui-view class="header__body"></div>
