<div class="reset-password" disable-ng-animate>
  <div>
    <form name="resetPasswordForm"
          ng-if="!resetPasswordCtrl.loading && !resetPasswordCtrl.error && !resetPasswordCtrl.success"
          ng-submit="resetPasswordCtrl.submit()">
      <div class="reset-password__text">{{'RESET_YOUR_PASSWORD' | translate}}</div>

      <label class="reset-password__label">
        {{'NEW_PASSWORD' | translate}}<br>
        <input type="password"
               name="password"
               ng-model="resetPasswordCtrl.password"
               class="reset-password__input"
               required
               ng-minlength="6">

        <div ng-messages="resetPasswordForm.password.$error"
             ng-if="resetPasswordForm.password.$touched">
          <div ng-message="required" class="message">{{'FIELD_REQUIRED' | translate}}</div>
          <div ng-message="minlength" class="message">{{'PASSWORD_MINIMUM_LENGTH' | translate}}</div>
        </div>
      </label>

      <br>

      <button class="reset-password__button"
              ng-disabled="resetPasswordForm.$invalid">{{'SUBMIT' | translate}}</button>
    </form>

    <div class="reset-password__text reset-password__text--loading" ng-if="resetPasswordCtrl.loading">{{'RESETTING_PASSWORD' | translate}}</div>

    <div class="reset-password__text" ng-if="resetPasswordCtrl.error">{{'PROBLEM_RESETTING_PASSWORD' | translate}}</div>
    <div class="reset-password__subtext" ng-if="resetPasswordCtrl.error === 'GENERAL'">
      {{'PROBLEM_RESETTING_PASSWORD_SUBTEXT_1' | translate}}<br>
      {{'PROBLEM_RESETTING_PASSWORD_SUBTEXT_2' | translate}}
    </div>
    <div class="reset-password__subtext" ng-if="resetPasswordCtrl.error === 'TOO_MANY_ATTEMPTS'">
      {{'TOO_MANY_PASSWORD_RESET_ATTEMPTS' | translate}}<br>
    </div>
    <a ui-sref="user.budget" ng-if="resetPasswordCtrl.error" class="reset-password__button">{{'GO_TO_MY_BUDGETS' | translate}}</a>


    <div class="reset-password__text" ng-if="resetPasswordCtrl.success">{{'PASSWORD_RESET_SUCCESSFUL' | translate}}</div>
    <div class="reset-password__subtext" ng-if="resetPasswordCtrl.success">
      {{'RESET_PROCEED_TO_LOGIN' | translate}}
    </div>
    <a href="#" ng-click="resetPasswordCtrl.goSignin()" ng-if="resetPasswordCtrl.success" class="reset-password__button">{{'LOGIN' | translate}}</a>
  </div>
</div>
