<div class="app-view">
  <div class="app-view__header">
    <staging-warning></staging-warning>
  </div>

  <div class="app-view__main">
    <div class="app-view__sidebar">
      <h1 class="app-view__title">
        <a ui-sref="budget">Financier</a>
      </h1>


      <ul class="app-view__links">
        <li class="app-view__link" ui-sref-active="app-view__link--active">
          <a ui-sref="app.manager.view.budget"><i class="fa fa-tags"></i> Budget</a>
        </li>
        <li class="app-view__link" ui-sref-active="app-view__link--active">
          <a ui-sref="app.manager.view.account">
            <i class="fa fa-credit-card"></i> Accounts
            <aside>{{(accountCtrl.total || 0) | intCurrency | currency}}</aside>
          </a>
        </li>
        <li class="app-view__link" ui-sref-active="app-view__link--active">
          <a ui-sref="app.manager.view.reports"><i class="fa fa-pie-chart"></i> Reports</a>
        </li>

        <hr class="app-view__underline" />
      </ul>

      <div class="app-view__accounts">
        <div class="app-view__accounts-title">My accounts</div>

        <ul class="account__accounts-list">
          <li class="account__account" ui-sref="app.manager.view.account({accountId: null})"
              ui-sref-active="account__account--active">
            All accounts
            <span class="account__amount account__account--positive">{{(accountCtrl.total || 0) | intCurrency | currency}}</span>
          </li>
          <li class="account__account"
              ng-repeat="account in accountCtrl.accounts | filter: accountCtrl.isOpen"
              ui-sref="app.manager.view.account({accountId: account.id})"
              ui-sref-active="account__account--active">
            <span class="account__name">{{account.name}}</span> <i class="account__edit fa fa-cog" ng-click="accountCtrl.edit($event, account)"></i>
            <span class="account__amount account__account--positive">{{(accountCtrl.accountTotals[account.id] || 0) | intCurrency | currency}}</span>
          </li>
          <li class="account__plus" ui-sref="app.manager.view.account.create">+</li>
        </ul>
      </div>
      <button sign-in class="account__sign-in">Sign into your account</button>
      <sync-status></sync-status>
      <a class="app-view__sync" ui-sref="signup">
        Don't have an account? Upgrade to unlock syncing.<br>Free for 30 days!
      </a>
    </div>

    <div ui-view class="app-view__body"></div>
    
  </div>
</div>

