<div class="budgets-header">
  <div class="budgets-header__container">
    <div class="budgets-header__title">Financier</div>

    <ul class="budgets-header__actions">
      <li class="budgets-header__action" ng-if="!userCtrl.email" ui-sref="user.budget"><i class="fa fa-angle-left"></i> Back to my budgets</li>
    </ul>
  </div>
</div>

<div class="signup">
  <h1>Sign up today for Financier Premium. No credit card required.</h1>

  
  <div class="signup__compare">
    <h2><em>Free plan</em> <small>Free, forever!</small></h2>
    
    <ul>
      <li><i class="fa fa-check-circle-o"></i> <span>100% offline functionality</span></li>
      <li><i class="fa fa-times-circle-o"></i> <span>No syncing, data stored in browser</span></li>
      <li><i class="fa fa-times-circle-o"></i> <span><strong>Clearing your browser cache will delete budgets!</strong></span></li>
    </ul>
  </div>

  <div class="signup__compare">
    <h2><em>Premium plan</em> <small>$12/year</small></h2>

    <ul>
      <li><i class="fa fa-check-circle-o"></i> <span>100% offline functionality</span></li>
      <li><i class="fa fa-check-circle-o"></i> <span>Syncing and backups to the cloud</span></li>
      <li><i class="fa fa-check-circle-o"></i> <span>Access your budgets across devices</span></li>
      <li><i class="fa fa-check-circle-o"></i> <span>Feed the developer</span></li>
      <li class="signup__upcoming"><i class="fa fa-check-circle-o"></i> <span>Mobile app &mdash; coming soon!</span></li>
    </ul>  
  </div>
  
  <div class="signup__footer">
    <div class="signup__footer-container">
      <h2>Sign up</h2>
      
      <form name="signupCtrl.form" ng-submit="signupCtrl.submit(signupCtrl.email, signupCtrl.password)">
        <div class="signup__footer-row">
          <label>
            Your email
            <input type="email" name="email" ng-model="signupCtrl.email" required autofocus>
            <div ng-messages="signupCtrl.form.email.$error"
                 ng-if="signupCtrl.form.email.$touched">
              <div ng-message="required" class="message">This is required!</div>
              <div ng-message="email" class="message">Invalid email address</div>
              <div ng-message="duplicate" class="message">This email address is already registered</div>
            </div>
          </label>
        </div>
        <div class="signup__footer-row">
          <label>
            Your password
            <div class="signup__password-field">
              <input type="password" name="password" ng-model="signupCtrl.password" required ng-minlength="6">
              <div ng-messages="signupCtrl.form.password.$error"
                   ng-if="signupCtrl.form.password.$touched">
                <div ng-message="required" class="message">This is required!</div>
                <div ng-message="minlength" class="message">Password must be at least six characters</div>
              </div>
              <i class="fa fa-lock"></i>
            </div>
          </label>
        </div>

        <div class="signup__footer-row">
          <button class="signup__button" ladda="signupCtrl.loading" ng-disabled="signupCtrl.form.$invalid">Try free for 7 days</button>

          <div ng-messages="signupCtrl.form.$error">
            <div ng-message="internalError" class="message">Internal error. Please try again later.</div>
          </div>
        </div>

        <div class="signup__footer-note">
          Your password is immediately encrypted with PBKDF2. We will never share your personal information. By signing up, you agree to our <a href="https://financier.io/terms-of-service/">terms of service</a> and <a href="https://financier.io/privacy-policy/">privacy policy</a>.
        </div>
      </form>

      <div class="signup__footer-success" ng-if="signupCtrl.success">

        <div>
          <i class="fa fa-paper-plane"></i>  
          <br>
          <span>
            Almost done!
            <br>
            <small>Go check your inbox.</small>
          </span>
        </div>
      </div>
    </div>
  </div>

</div>


