<div class="welcome">
  <service-worker-status class="welcome__service-worker-status"></service-worker-status>

  <div class="welcome__title">Financier</div>
  <div class="welcome__sub">Straight-forward Budgeting</div>

  <a class="welcome__button" ui-sref="app.db.budget"><span>Your budget</span> <i class="fa fa-angle-right"></i></a>

</div>

<div class="welcome__about">
  <p class="welcome__warning"><i class="fa fa-exclamation-triangle"></i> This project is not complete! Many features are still missing.</p>

  <h1>About</h1>

  <p>This project started because I enjoy the UI and offline nature of <a href="http://youneedabudget.com">YNAB 4</a>. I do not like nYNAB's subscription billing model, and in my opinion the UI obfuscates the budget.</p>

  <h3>100% offline web app</h3>
  <p>If you're reading this text, this app is now on your computer. Try removing your internet connection and refreshing the page! Easy, right?</p>

  <p>By being a web app, this app works across all platforms -- Windows, Mac OS X, or Linux. Just make sure you have a modern browser.</p>

  <p>Except Safari. Safari is the new IE. Let's just pretend that Safari doesn't exist.</p>

  <h3>Free and open source</h3>
  <p>Financier is 100% free, forever. You can view and contribute to the source <a href="https://github.com/aeharding/financier">on Github</a>.</p>

  <p>In the future, I <em>may</em> offer a paid version that syncs with a server to provide your budget across devices.</p>
  
  <h1>How to use</h1>

  <p>If you're familiar with YNAB 4, using Financier should be straightforward. There are three main views: <strong>budget, accounts and reports</strong>.</p>
  
  <p><strong>Budget</strong> is the main dashboard for viewing month-to-month budgets. Here you can edit the budget for your various categories and see how you're doing.</p>

  <p><strong>Accounts</strong> is where you enter transactions and income as they show up in your bank account(s) or credit card(s). After you add a transaction or income, head back on over to <strong>budget</strong> to budget your income or assess your budget.</p>

  <p><strong>Reports</strong> is where you can see trends over the span of many months in various visualizations.</p>

  <center>
    <p><a href="https://harding.ae">By @aeharding</a></p>
    <p>
      <strong>Revision</strong> {{welcomeCtrl.version.sha}}<br>
      <strong>Version</strong> {{welcomeCtrl.version.version}}
    </p>
  </center>
</div>
