<h2>{{'NEW_ACCOUNT' | translate}}</h2>

<form
  name="createAccountForm"
  ng-submit="createAccountCtrl.submit()"
  novalidate
>
  <label>
    {{'ACCOUNT_NAME' | translate}}
    <input
      type="text"
      name="name"
      ng-model="createAccountCtrl.account.name"
      placeholder="{{'MY_ACCOUNT_NAME' | translate}}"
      required
    />
    <div
      ng-messages="createAccountForm.name.$error"
      ng-if="createAccountForm.name.$touched"
    >
      <div ng-message="required" class="message">
        {{'FIELD_REQUIRED' | translate}}
      </div>
    </div>
  </label>

  <label>
    <span class="help" title="{{createAccountCtrl.accountTypeHelp}}">
      {{'ACCOUNT_TYPE' | translate}} <i class="fa fa-question-circle"></i>
    </span>
    <select
      name="type"
      ng-model="createAccountCtrl.type"
      ng-options="type.name group by createAccountCtrl.getGroupName(type.onBudget) for type in createAccountCtrl.accountTypes"
      required
    >
      <option value="">{{'SELECT_ACCOUNT_TYPE' | translate}}</option>
    </select>
  </label>

  <div class="modal__info" collapse="createAccountCtrl.type.onBudget !== false">
    <i class="fa fa-info-circle"></i> <strong>{{'HEADS_UP' | translate}}</strong
    ><br />
    {{'OFF_BUDGET_ACCOUNT_MESSAGE' | translate}}
  </div>

  <div class="split">
    <label>
      {{'CURRENT_BALANCE' | translate}}
      <input
        on-update="createAccountCtrl.startingBalance = model"
        on-validate="createAccountCtrl.startingBalanceValid = isValid"
        view-model="createAccountCtrl.startingBalance"
        required
        calc-input
        name="startingBalance"
        placeholder="0{{createAccountCtrl.DECIMAL_SEP}}00"
      />
    </label>

    <label>
      {{'DATE_CURRENT_BALANCE' | translate}}
      <input
        type="text"
        calendar-input
        date-parser="shortDate"
        name="startingBalanceDate"
        ng-model="createAccountCtrl.startingBalanceDate"
      />
      <div
        ng-messages="createAccountForm.startingBalanceDate.$error"
        ng-if="createAccountForm.startingBalanceDate.$touched"
      ></div>
    </label>
  </div>

  <footer>
    <button
      class="primary"
      ng-disabled="createAccountForm.$invalid || !createAccountCtrl.startingBalanceValid"
    >
      {{'SAVE' | translate}}
    </button>
    <button ng-click="closeThisDialog()" type="button">
      {{'CANCEL' | translate}}
    </button>
  </footer>
</form>
