<h2>New account</h2>

<form name="createAccountForm" ng-submit="createAccountCtrl.submit()" novalidate>
  <label>
    Account name
    <input type="text"
           name="name"
           ng-model="createAccountCtrl.account.name"
           placeholder="My account name"
           required>
    <div ng-messages="createAccountForm.name.$error"
         ng-if="createAccountForm.name.$touched">
      <div ng-message="required" class="message">This is required!</div>
    </div>
  </label>

  <label>
    <span class="help" title="On budget accounts affect your budget.

Off budget accounts are used for tracking purposes (do not affect your budget).">
      Account type <i class="fa fa-question-circle"></i>
    </span>
    <select name="type"
            ng-model="createAccountCtrl.type"
            ng-options="type.name group by createAccountCtrl.getGroupName(type.onBudget) for type in createAccountCtrl.accountTypes"
            required>
      <option value="">Select account type...</option>
    </select>
  </label>

  <div class="modal__info" collapse="createAccountCtrl.type.onBudget !== false">
    <i class="fa fa-info-circle"></i> <strong>Heads up!</strong><br>
    Off budget accounts do not affect your budget and are not required to use Financier. Only use off budget accounts if you want them reflected in reports and if you can take the time to keep them up to date.
    </div>
  
  <div class="split">
    <label>
      Current balance
      <input type="number"
             step="0.01"
             name="startingBalance"
             ng-model="createAccountCtrl.startingBalance"
             placeholder="0.00">
      <div ng-messages="createAccountForm.startingBalance.$error"
           ng-if="createAccountForm.startingBalance.$touched">
        <div ng-message="number" class="message">Not a valid dollar amount</div>
      </div>
    </label>

    <label>
      Date of current balance
      <input type="text"
             calendar-input
             date-parser="MM/dd/yy"
             name="startingBalanceDate"
             ng-model="createAccountCtrl.startingBalanceDate">
      <div ng-messages="createAccountForm.startingBalanceDate.$error"
           ng-if="createAccountForm.startingBalanceDate.$touched">
      </div>
    </label>
  </div>
  
  <footer>
    <button class="primary"
            ng-disabled="createAccountForm.$invalid">Save</button>
    <button ng-click="closeThisDialog()" type="button">Cancel</button>
  </footer>
</form>
