<h2>{{'REQUEST_PASSWORD_RESET' | translate}}</h2>

<form
  name="requestResetPasswordCtrl.form"
  ng-submit="requestResetPasswordCtrl.submit(requestResetPasswordCtrl.email)"
>
  <label>
    {{'EMAIL' | translate}}
    <input
      type="text"
      name="email"
      ng-model="requestResetPasswordCtrl.email"
      ng-disabled="requestResetPasswordCtrl.formDisabled"
      required
    />
    <div
      ng-messages="requestResetPasswordCtrl.form.email.$error"
      ng-if="requestResetPasswordCtrl.form.email.$dirty"
    >
      <div ng-message="required" class="message">
        {{'FIELD_REQUIRED' | translate}}
      </div>
      <div ng-message="email" class="message">
        {{'INVALID_EMAIL_ADDRESS' | translate}}
      </div>
    </div>
  </label>

  <div class="message message--main" ng-if="requestResetPasswordCtrl.error">
    {{requestResetPasswordCtrl.error.reason || 'Looks like there was a server
    issue.'}}
  </div>

  <div
    class="message message--main message--success"
    ng-if="requestResetPasswordCtrl.success"
  >
    {{'CHECK_EMAIL_FOR_MORE' | translate}}
  </div>

  <footer>
    <button
      class="primary"
      ng-disabed="requestResetPasswordCtrl.form.$invalid || requestResetPasswordCtrl.formDisabled"
      ladda="requestResetPasswordCtrl.loading"
    >
      {{'REQUEST_RESET' | translate}}
    </button>
    <button ng-click="closeThisDialog()">{{'CANCEL' | translate}}</button>
  </footer>
</form>
