<h2>Request password reset</h2>

<form name="requestResetPasswordCtrl.form" ng-submit="requestResetPasswordCtrl.submit(requestResetPasswordCtrl.email)">
  <label>
    Email
    <input type="text"
           name="email"
           ng-model="requestResetPasswordCtrl.email"
           ng-disabled="requestResetPasswordCtrl.formDisabled"
           required>
    <div ng-messages="requestResetPasswordCtrl.form.email.$error"
         ng-if="requestResetPasswordCtrl.form.email.$dirty">
      <div ng-message="required" class="message">This is required!</div>
      <div ng-message="email" class="message">Invalid email address</div>
    </div>
  </label>

  <div class="message message--main" ng-if="requestResetPasswordCtrl.error">{{requestResetPasswordCtrl.error.reason || 'Looks like there was a server issue.'}}</div>

  <div class="message message--main message--success" ng-if="requestResetPasswordCtrl.success">Check your email for further instructions.</div>

  <footer>
    <button class="primary"
            ng-disabed="requestResetPasswordCtrl.form.$invalid || requestResetPasswordCtrl.formDisabled"
            ladda="requestResetPasswordCtrl.loading">Request reset</button>
    <button ng-click="closeThisDialog()">Cancel</button>
  </footer>
</form>
