<h2>Sign in</h2>

<form name="signinCtrl.form" ng-submit="signinCtrl.login(signinCtrl.email, signinCtrl.password, closeThisDialog)">
  <label>
    Email
    <input type="text"
           name="email"
           ng-model="signinCtrl.email"
           required>
    <div ng-messages="signinCtrl.form.email.$error"
         ng-if="signinCtrl.form.email.$dirty">
      <div ng-message="required" class="message">This is required!</div>
      <div ng-message="email" class="message">Invalid email address</div>
    </div>
  </label>
  <label>
    Password
    <input type="password"
           name="password"
           ng-model="signinCtrl.password"
           required>
    <div ng-messages="signinCtrl.form.password.$error"
         ng-if="signinCtrl.form.password.$dirty">
      <div ng-message="required" class="message">This is required!</div>
    </div>
  </label>

  <small>Don't have an account? <a ui-sref="user.signup" ng-click="closeThisDialog()">Click here to sign up.</a></small><br>
  <small><a href="#" ng-click="signinCtrl.requestResetPassword()">Forgot your password?</a></small>
  
  <div class="message message--main" ng-if="signinCtrl.error">{{signinCtrl.error.reason || 'Looks like there was a server issue.'}}</div>

  <footer>
    <button class="primary"
            ng-disabed="signinCtrl.form.$invalid"
            ladda="signinCtrl.loading">Sign in</button>
    <button ng-click="closeThisDialog()">Cancel</button>
  </footer>
</form>
