<h3 class="dropdown__header">{{'MY_ACCOUNTS' | translate}}</h3>

<div class="dropdown__scroll-container" scroll-container>
  <div class="dropdown__empty" ng-if="!items.length">
    {{'CREATE_ACCOUNT_BEFORE_TRANSACTION' | translate}}
  </div>

  <ul class="dropdown dropdown--padding">
    <li>
      <div
        class="dropdown__header-item"
        ng-if="filteredOnBudgetAccounts.length && (filteredClosedAccounts.length || filteredOffBudgetAccounts.length)"
      >
        {{'ON_BUDGET' | translate}}
      </div>
      <ul
        class="dropdown"
        ng-repeat="account in $parent.onBudgetAccounts | filter : filterCustomFilterer as filteredOnBudgetAccounts"
      >
        <li
          class="dropdown__item dropdown__item--indented"
          ng-class="{'dropdown__item--selected': account === selected}"
          ng-click="submit(account)"
          scroll-into-view-if="account === selected"
        >
          <div class="dropdown__item-content">{{account.name}}</div>
        </li>
      </ul>
    </li>
    <li>
      <div
        class="dropdown__header-item"
        ng-if="filteredOffBudgetAccounts.length"
      >
        {{'OFF_BUDGET' | translate}}
      </div>
      <ul
        class="dropdown"
        ng-repeat="account in $parent.offBudgetAccounts | filter : filterCustomFilterer as filteredOffBudgetAccounts"
      >
        <li
          class="dropdown__item dropdown__item--indented"
          ng-class="{'dropdown__item--selected': account === selected}"
          ng-click="submit(account)"
          scroll-into-view-if="account === selected"
        >
          <div class="dropdown__item-content">{{account.name}}</div>
        </li>
      </ul>
    </li>
    <li>
      <div class="dropdown__header-item" ng-if="filteredClosedAccounts.length">
        {{'CLOSED_ACCOUNTS' | translate}}
      </div>
      <ul
        class="dropdown"
        ng-repeat="account in $parent.closedAccounts | filter : filterCustomFilterer as filteredClosedAccounts"
      >
        <li
          class="dropdown__item dropdown__item--indented"
          ng-class="{'dropdown__item--selected': account === selected}"
          ng-click="submit(account)"
          scroll-into-view-if="account === selected"
        >
          <div class="dropdown__item-content">{{account.name}}</div>
        </li>
      </ul>
    </li>
  </ul>
</div>
