<div class="canvas" ng-style="canvasHeight">
  <div class="renderer"
       ng-repeat="virtual in visibleProvider track by displayedTransactions[virtual.i].id"
       ng-style="virtual.styles">
    <div class="account__tr"
         ng-if="accountCtrl.editingTransaction !== displayedTransactions[virtual.i]"
         ng-click="accountCtrl.selectRow($event, virtual.i)"
         ng-class="{'st-selected': accountCtrl.isTransactionSelected(displayedTransactions[virtual.i])}">
      <div class="account__td account__td--select" ng-click="accountCtrl.toggle(virtual.i, $event)">
        <input type="checkbox" ng-model="accountCtrl.selectGetterSetter(displayedTransactions[virtual.i])" ng-model-options="{ getterSetter: true }">
      </div>
      <div class="account__td account__td--large" ng-if="!accountCtrl.accountId" transaction-field-focus-name="account">
        <span class="account__category-label" ng-class="{
            'account__category-label--empty': !accountCtrl.manager.getAccount(displayedTransactions[virtual.i].account)}" transaction-field-focus-name="account">
          {{accountCtrl.manager.getAccount(displayedTransactions[virtual.i].account).name || 'No account'}}
        </span>
      </div>
      <div class="account__td account__td--flag"><div class="account__flag" ng-style="{'color': displayedTransactions[virtual.i].flag}" flag ng-model="displayedTransactions[virtual.i].flag"><div></div></div></div>
      <div class="account__td account__td--date" transaction-field-focus-name="date">{{displayedTransactions[virtual.i].date | date : 'MM/dd/yy'}}</div>
      <div class="account__td account__td--large account__td--payee" transaction-field-focus-name="payee">{{dbCtrl.getAccountName(displayedTransactions[virtual.i].transfer.account) || dbCtrl.getPayeeName(displayedTransactions[virtual.i].payee)}} <i class="fa fa-exchange" ng-show="displayedTransactions[virtual.i].transfer"></i></div>
      <div class="account__td account__td--large" ng-if="accountCtrl.account.onBudget" transaction-field-focus-name="category">
        <span class="account__category-label" ng-class="{
          'account__category-label--empty': !dbCtrl.getCategoryName(displayedTransactions[virtual.i].category, displayedTransactions[virtual.i].date), 
          'account__category-label--transfer': accountCtrl.manager.getAccount(displayedTransactions[virtual.i].transfer.account).onBudget
        }" transaction-field-focus-name="category">

          {{dbCtrl.getCategoryName(displayedTransactions[virtual.i].category, displayedTransactions[virtual.i].date) || ((!displayedTransactions[virtual.i].transfer || !accountCtrl.manager.getAccount(displayedTransactions[virtual.i].transfer.account).onBudget) ? 'No category' : '')}}
        </span>
      </div>
      <div class="account__td account__cell-memo" transaction-field-focus-name="memo">{{displayedTransactions[virtual.i].memo}}</div>
      <div class="account__td account__td--small account__cell-outflow" transaction-field-focus-name="outflow">{{displayedTransactions[virtual.i].outflow | intCurrency : true : dbCtrl.currencyDigits | currency : dbCtrl.currencySymbol : dbCtrl.currencyDigits}}</div>
      <div class="account__td account__td--small account__cell-inflow" transaction-field-focus-name="inflow">{{displayedTransactions[virtual.i].inflow | intCurrency : true : dbCtrl.currencyDigits | currency : dbCtrl.currencySymbol : dbCtrl.currencyDigits}}</div>
      <div class="account__td account__cell-cleared">
        <i class="fa fa-lock"
           ng-if="displayedTransactions[virtual.i].reconciled"></i>

        <div class="cleared"
             ng-if="!displayedTransactions[virtual.i].reconciled"
             ng-class="{'cleared--true': displayedTransactions[virtual.i].cleared}" 
             ng-click="accountCtrl.setCleared($event, displayedTransactions[virtual.i])">C</div>
      </div>
    </div>
    <transaction-editor transaction="displayedTransactions[virtual.i]"
    ng-if="accountCtrl.editingTransaction === displayedTransactions[virtual.i]"
         class="account__tr account__tr--editing"
         hotkey="{esc: accountCtrl.stopEditing}"
         ng-click="dbCtrl.stopPropagation($event)"></transaction-editor>
    
  </div>

  <br><br><br>

</div>
