<div class="canvas" ng-style="canvasHeight">
  <div class="renderer"
       ng-repeat="virtual in visibleProvider track by displayedTransactions[virtual.i].id"
       ng-style="virtual.styles"
       ng-class="{'account__tr--odd': virtual.oddOffset}">
    <div class="account__tr"
         ng-if="accountCtrl.editingTransaction !== displayedTransactions[virtual.i]"
         ng-click="accountCtrl.selectRow($event, virtual.i)"
         ng-class="{'st-selected': accountCtrl.isTransactionSelected(displayedTransactions[virtual.i])}">
      <div class="account__td account__td--select" ng-click="accountCtrl.toggle(virtual.i, $event)">
        <input type="checkbox" ng-model="accountCtrl.selectGetterSetter(displayedTransactions[virtual.i])" ng-model-options="{ getterSetter: true }">
      </div>
      <div class="account__td" ng-if="!accountCtrl.accountId" transaction-field-focus-name="account">{{accountCtrl.manager.getAccount(displayedTransactions[virtual.i].account).name}}</div>
      <div class="account__td account__td--flag"><div class="account__flag" ng-style="{'color': displayedTransactions[virtual.i].flag}" flag ng-model="displayedTransactions[virtual.i].flag"><div></div></div></div>
      <div class="account__td account__td--date" transaction-field-focus-name="date">{{displayedTransactions[virtual.i].date | date : 'MM/dd/yy'}}</div>
      <div class="account__td" transaction-field-focus-name="payee">{{dbCtrl.getAccountName(displayedTransactions[virtual.i].payee.id)}}</div>
      <div class="account__td" transaction-field-focus-name="category">{{dbCtrl.getCategoryName(displayedTransactions[virtual.i].category)}}</div>
      <div class="account__td account__cell-memo" transaction-field-focus-name="memo">{{displayedTransactions[virtual.i].memo}}</div>
      <div class="account__td account__cell-inflow" transaction-field-focus-name="inflow">{{displayedTransactions[virtual.i].inflow | intCurrency | currency}}</div>
      <div class="account__td account__cell-outflow" transaction-field-focus-name="outflow">{{displayedTransactions[virtual.i].outflow | intCurrency | currency}}</div>
      <div class="account__td account__cell-cleared">
        <div class="cleared"
             ng-class="{'cleared--true': displayedTransactions[virtual.i].cleared}" 
             ng-click="accountCtrl.setCleared($event, displayedTransactions[virtual.i])">C</div>
      </div>
    </div>
    <div ng-if="accountCtrl.editingTransaction === displayedTransactions[virtual.i]"
         class="account__tr account__tr--editing"
         hotkey="{esc: accountCtrl.stopEditing}"
         ng-click="dbCtrl.stopPropagation($event)">
      <div class="account__td account__td--select" ng-click="accountCtrl.toggle(virtual.i, $event)">
        <input type="checkbox" ng-model="accountCtrl.selectGetterSetter(displayedTransactions[virtual.i])" ng-model-options="{ getterSetter: true }">
      </div>
      <div class="account__td" ng-if="!accountCtrl.accountId">
        <account-suggest ng-model="displayedTransactions[virtual.i].account" transaction-payee-id="displayedTransactions[virtual.i].payee.id" accounts="accountCtrl.manager.accounts"></account-suggest>
      </div>
      <div class="account__td account__td--flag"><div class="account__flag" ng-style="{'color': displayedTransactions[virtual.i].flag}" flag ng-model="displayedTransactions[virtual.i].flag"><div></div></div></div>
      <div class="account__td account__td--date"><calendar-input ng-model="displayedTransactions[virtual.i].date"></calendar-input></div>
      <div class="account__td">
        <payee-suggest ng-model="displayedTransactions[virtual.i].payee" transaction-account-id="displayedTransactions[virtual.i].account" accounts="dbCtrl.accounts" payees="accountCtrl.manager.payees"></payee-suggest>
      </div>
      <div class="account__td">
        <category-suggest ng-model="displayedTransactions[virtual.i].category" categories="dbCtrl.categories"></category-suggest>
      </div>
      <div class="account__td account__cell-memo">
        <memo-input ng-model="displayedTransactions[virtual.i].memo"></memo-input>
      </div>
      <div class="account__td account__cell-inflow">
        <input type="text" transaction-value ng-model="displayedTransactions[virtual.i].inflow">
      </div>
      <div class="account__td account__cell-outflow">
        <input type="text" transaction-value ng-model="displayedTransactions[virtual.i].outflow">
      </div>
      <div class="account__td account__cell-cleared"><div class="cleared" ng-class="{'cleared--true': displayedTransactions[virtual.i].cleared}" ng-click="accountCtrl.setCleared($event, displayedTransactions[virtual.i])">C</div></div>

      <ul class="account__editing-buttons">
        <li class="account__editing-button account__editing-button--save">Save</li><li class="account__editing-button" ng-click="accountCtrl.stopEditing()">Cancel</li>
      </ul>

    </div>
    
  </div>

  <br><br><br>

</div>
